body    {
    background: #303030;
    text-align: center;
}

img {
    width: auto;
    height: auto;
}

.form-control   {
    border: none;
    background: transparent;
    color: white;
    transition: all, 250ms;
}